.internal_hwconfig
.pdm
.settings
.vscode
adc
address-table
aes-cmac
antenna-stub
basic
coexistence
concentrator
counters
efr32
ember-minimal-printf
emdrv
find-and-bind-target
form-and-join
GNU ARM v7.2.1 - Default
hal-config.h.bak
hal-library
heartbeat
identify
interpan
network-creator
network-creator-security
network-steering
nvm3
reporting
scan-dispatch
serial
simple-main
update-tc-link-key
afv2-mfg-token.h.bak
afv2-token.h.bak
attribute-id.h.bak
callback.h.bak
cli.c.bak
cli.h.bak
EFR32MG21_Coordinator.h.bak
EFR32MG21_Coordinator.mak.bak
EFR32MG21_Coordinator_endpoint_config.h.bak

ccm-encryption
coexistence-stub
debug-basic-library
debug-jtag
groups-server
mbedtls
on-off
scenes
strong-random
zcl-framework-core
af-gen-event.h.bak

end-device-support
find-and-bind-initiator
