.internal_hwconfig
.pdm
.settings
.vscode
adc
address-table
aes-cmac
antenna-stub
basic
ccm-encryption
coexistence-stub
coexistence
concentrator
counters
debug-basic-library
debug-jtag
efr32
ember-minimal-printf
emdrv
emlib
end-device-support
find-and-bind-initiator
find-and-bind-target
form-and-join
GNU ARM v7.2.1 - Default
groups-server
hal-library
heartbeat
identify
interpan
mbedtls
network-creator
network-creator-security
network-steering
nvm3
on-off
reporting
scan-dispatch
scenes
serial
simple-main
strong-random
update-tc-link-key
zcl-framework-core
afv2-mfg-token.h.bak
afv2-token.h.bak
attribute-id.h.bak
callback.h.bak
cli.c.bak
cli.h.bak
EFR32MG21_Coordinator.h.bak
EFR32MG21_Coordinator.mak.bak
EFR32MG21_Coordinator_endpoint_config.h.bak
af-gen-event.h.bak

